body {
    font-family: 'Roboto', fantasy;
    font-size: 16px;
    color: #666
}

.heading {
    text-align: center;
    background: #18182d;
    color: #ffffff;
    padding: 20px 10px;
    border-top: 5px solid #3c2763
}

.heading small {
    font-size: 16px;
    font-style: italic;
    color: #7e5598
}

.treeview {
    padding: 0;
    margin: 0;
    width: 100%;
}

#wrapper {
    background: rgb(122,21,158);
    background: linear-gradient(56deg, rgba(122,21,158,1) 0%, rgba(88,194,203,1) 71%, rgba(0,212,255,1) 100%);
}


.sidebar-heading {
    color: #f1f1f1;
    font-weight: bold;
    text-shadow: 0 3px 0px #616fb6;
}

ul.treeview li {
    width: 100%;
    font-weight: bold;
}

ul.treeview ul {
    margin-bottom: 15px;
}

ul.treeview li > a {
    padding: 5px 25px;
    width: 100%;
    display: inline-table;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 3px 3px #15264070;
}



ul.treeview li ul {
    width: 100%;
}

ul.treeview li li a {
    color: #cecece;
    font-size: 13px;
    display: inline-table;
    padding: 1px 50px;
}

ul.treeview li ul li {
    font-weight: normal
}

ul.treeview li ul li a:hover {
    color: #fff;
    background: none;
    font-weight: bold
}

ul.treeview i {
    font-size: 12px;
    position: relative;
    left: -2px;
    top: -1px;
    color: #666666;
}

.page-title {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.89);
    padding: 10px 0;
    margin-bottom: 5px;
}

.sub-title {
    text-decoration: underline;
    font-size: 16px;
    color: #6a08a9;
    padding: 10px 0;
    margin-bottom: 5px;
}


.page-wrapper {
    background: #ffffff;
    padding: 0 20px;
}

.sub-page {
    padding: 0 30px;
    border-left: 1px solid #fafafa;
}


.sub-page-2 {
    padding: 0 30px;
    border-left: 1px solid #fafafa;
}


/*
Line Numbers
*/

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}